<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/order/main-order-confirmation.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Zamówienie</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <a th:href="@{/order-confirmation}">
        <h1>
            <span>Potwierdzenie</span>
            <span>zamówienia</span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
        <a th:href="@{'/user/' + ${#authentication.principal.username}}">
            <span sec:authentication="principal.username"></span>
        </a>
    </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <h1>Czy zamówienie się zgadza?</h1>

    <p>Informacje ogólne</p>
    <ul>
        <li th:text="'Adres wysyłki: ul. ' + ${order.street} + ' ' + ${order.houseNumber} + ', ' + ${order.postalCode} + ' ' + ${order.city}"></li>
        <li th:text="'Całkowita wartość zamówienia: ' + ${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 2, 'POINT') + ' zł'}"></li>
    </ul>

    <p>Zamówione książki</p>
    <ul th:each="item : ${order.items}">
        <li th:text="${item.book.title + ', cena: ' + #numbers.formatDecimal(item.book.price, 0, 'COMMA', 2, 'POINT') + ' zł'}"></li>
    </ul>

    <form th:action="@{/order}" th:object="${order}" method="POST">
        <input type="hidden" th:field="*{id}" th:value="${order.id}" />
        <input type="hidden" name="username" th:value="${username}" />
        <input type="hidden" th:field="*{orderDate}" th:value="${order.orderDate}" />
        <input type="hidden" th:field="*{totalAmount}" th:value="${order.totalAmount}" />
        <input type="hidden" th:field="*{houseNumber}" th:value="${order.houseNumber}">
        <input type="hidden" th:field="*{street}" th:value="${order.street}">
        <input type="hidden" th:field="*{city}" th:value="${order.city}">
        <input type="hidden" th:field="*{postalCode}" th:value="${order.postalCode}">
        <input type="hidden" th:field="*{status}" th:value="${order.status}" />
        <input type="submit" value="Tak" />
    </form>
    <form th:action="@{'/user/' + ${username} + '/cart'}" method="GET">
        <input type="submit" value="Nie" />
    </form>
</main>

<footer>
    <section>
        <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
</footer>
</body>
</html>