main {
    min-height: 80vh;
    padding: 30px 20px 30px 20px;

    section {
        display: flex;
        justify-content: center;
    }
    
    .details {
        font-size: 20px;
    }
    
    .details ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        list-style: none;
    }
    
    .details ul .available {
        color: rgb(82, 226, 94);
    }
    
    .details ul .last_items {
        color: rgb(192, 126, 27);
    }
    
    .details ul .unavailable {
        color: rgb(194, 50, 50);
    }
    
    .reviews {
        flex-direction: column;
        align-items: center;
    }
    
    .reviews ul {
        width: 400px;
        max-width: 500px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .error {
        text-align: center;
        color: #c73c3c;
    }

    .link-add-review {
        color: #2e7ec9;
        text-decoration: none;
        transition: font-size 200ms ease-out,
                    color 200ms ease-out;;
    }

    .link-edit-review {
        color: #2e7ec9;
        text-decoration: none;
        transition: font-size 200ms ease-out,
                    color 200ms ease-out;;
    }

    .link-remove-review {
        color: #c73c3c;
        text-decoration: none;
        transition: font-size 200ms ease-out,
                    color 200ms ease-out;;
    }

    a:hover {
        font-size: 0.95rem;
        color: rgb(129, 129, 129);
    }
}

