main {
    min-height: 80vh;
    padding: 30px 20px 30px 20px;
}

main section {
    display: flex;
    justify-content: center;
}

main .details {
    font-size: 20px;
}

main .details ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

main .details ul .available {
    color: rgb(82, 226, 94);
}

main .details ul .last_items {
    color: rgb(192, 126, 27);
}

main .details ul .unavailable {
    color: rgb(194, 50, 50);
}

main .reviews {
    flex-direction: column;
    align-items: center;
}

main .reviews ul {
    width: 400px;
    max-width: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

main .error {
    text-align: center;
    color: #c73c3c;
}