<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" th:href="@{header.css}" />
      <link rel="stylesheet" th:href="@{body.css}" />
      <link rel="stylesheet" th:href="@{books/main-books.css}" />
      <link rel="stylesheet" th:href="@{footer.css}" />
      <script src="books/confirm-delete.js"></script>
      <title>Wszystkie książki</title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          <span>Bibliotheca</span>
          <span>Chudyana</span>
        </h1>
      </a>

      <a href="/books">
        <h1>
          <span>Wszystkie</span> 
          <span>książki</span>  
        </h1>
      </a>

        <div>
            <a href="/login">Zaloguj</a>
            <a href="/register">Zarejestruj</a>
            <span sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <input type="submit" value="Wyloguj">
            </form>
        </div>
    </header>

    <main>
      <section id="actions">
          <a href="/find-books">Znajdź książkę</a>
          <br>
          <a href="/add-book" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Dodaj książkę</a>
          <br sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">
          <a href="/">Strona główna</a>
      </section>
      
      <section id="show-books">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Tytuł</th>
              <th>Imię autora</th>
              <th>Nazwisko autora</th>
              <th>Data publikacji</th>
              <th>Kategoria</th>
              <th sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Akcje</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="book : ${books}">
              <td th:text="${book.id}"></td>
              <td th:text="${book.title}"></td>
              <td th:text="${book.authorName}"></td>
              <td th:text="${book.authorLastName}"></td>
              <td th:text="${book.releaseDate}"></td>
              <td th:text="${book.category}"></td>
              <td id="show-books_actions" sec:authorize="hasRole('EMPLOYEE')">
                <a class="button-update" th:href="@{/update-book(bookId=${book.id})}">Aktualizuj</a>
                <a class="button-delete"
                   th:href="@{/delete-book(bookId=${book.id})}"
                   onclick="return confirmDelete()">
                    Usuń
                </a>
              </td>
            </tr>
          </tbody>

        </table>
      </section>
    </main>

    <footer>
      <section>
          <p>Coded and designed by Wiktor C.</p>
      </section>
      <section>
          <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
      </section>
    </footer>
  </body>
</html>