<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" th:href="@{/css/header.css}" />
      <link rel="stylesheet" th:href="@{/css/body.css}" />
      <link rel="stylesheet" th:href="@{/css/books/main-books.css}" />
      <link rel="stylesheet" th:href="@{/css/footer.css}" />
      <script src="/js/confirm-delete-book.js"></script>
      <title>Wszystkie książki</title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          <span>Bibliotheca</span>
          <span>Chudyana</span>
        </h1>
      </a>

      <a href="/books">
        <h1>
          <span>Wszystkie</span> 
          <span>książki</span>  
        </h1>
      </a>

        <div>
            <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
            <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
            <a sec:authorize="isAuthenticated()"
               th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
            <a sec:authorize="isAuthenticated()"
               th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                    <span sec:authentication="principal.username"></span>
                </a>
            </span>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <input type="submit" value="Wyloguj">
            </form>
        </div>
    </header>

    <main>
      <h1 th:if="${books.isEmpty()}">Brak książek!</h1>

      <section class="actions" th:if="${!books.isEmpty()}">
          <a href="/find-books">Znajdź książkę</a>
          <br>
          <a href="/add-book" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Dodaj książkę</a>
          <br sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">
          <a href="/">Strona główna</a>
      </section>
      
      <section class="show-books" th:if="${!books.isEmpty()}">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Tytuł</th>
              <th>Imię<br>autora</th>
              <th>Nazwisko<br>autora</th>
              <th>Kategoria</th>
              <th>Liczba<br>stron</th>
              <th>Cena</th>
              <th sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Ilość<br>w magazynie</th>
              <th sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Akcje</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="book : ${books}">
              <td class="show-books_actions">
                  <a class="button-more-info" th:href="@{'/books/' + ${book.id}}">Więcej</a>
              </td>
              <td th:text="${book.title}"></td>
              <td th:text="${book.authorName}"></td>
              <td th:text="${book.authorLastName}"></td>
              <td th:text="${book.category}"></td>
              <td th:text="${book.numberOfPages}"></td>
              <td th:if="${book.discount == null}" th:text="${book.price + ' zł'}"></td>
              <td th:if="${book.discount != null}">
                  <del th:text="${book.price}"></del>
                  <span th:if="${book.price - (book.price * book.discount.discountPercentage / 100) >= 1}"
                        th:text="${#numbers.formatDecimal(book.price - (book.price * book.discount.discountPercentage / 100), 0, 'COMMA', 2, 'POINT') + ' zł'}"></span>
                  <span th:if="${book.price - (book.price * book.discount.discountPercentage / 100) < 1}"
                        th:text="${'0' + #numbers.formatDecimal(book.price - (book.price * book.discount.discountPercentage / 100), 0, 'COMMA', 2, 'POINT') + ' zł'}"></span>
              </td>
              <td th:text="${book.quantityInStock}" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')"></td>
              <td class="show-books_actions" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">
                <a class="button-update" th:href="@{/update-book(bookId=${book.id})}">Aktualizuj</a>
                <a class="button-delete"
                   th:href="@{/delete-book(bookId=${book.id})}"
                   onclick="return confirmDeleteBook()">
                    Usuń
                </a>
              </td>
            </tr>
          </tbody>

        </table>
      </section>
    </main>

    <footer>
      <section class="author-rights">
          <p>® 2024 Wiktor Chudy. All Rights Reserved.</p>
      </section>
      <section class="social">
          <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
          <a href="https://wiktorchudy.me/" target="_blank">Blog</a>
          <a href="https://github.com/P4ZD4N" target="_blank">GitHub</a>
      </section>
  </footer>
  </body>
</html>