<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/css/body.css}" />
  <link rel="stylesheet" th:href="@{/css/books/main-find-book.css}" />
  <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Znajdź książki</title>
</head>
<body>
  <header>
    <a href="/">
      <h1>
        <span>Bibliotheca</span>
        <span>Chudyana</span>
      </h1>
    </a>

    <a href="/books">
      <h1>
        <span>Wszystkie</span> 
        <span>książki</span>  
      </h1>
    </a>

    <div>
      <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
      <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
      <a sec:authorize="isAuthenticated()"
         th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
      <a sec:authorize="isAuthenticated()"
         th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
      <span sec:authorize="isAuthenticated()">
          <a th:href="@{'/user/' + ${#authentication.principal.username}}">
              <span sec:authentication="principal.username"></span>
          </a>
      </span>
      <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
          <input type="submit" value="Wyloguj">
      </form>
    </div>  
  </header>

  <main>
    <form th:action="@{/find-books}" th:object="${findBooksForm}" method="POST">
      <div>
        <label>Tytuł</label><input type="text" th:field="*{title}" />

        <br>

        <label>Imię autora</label><input type="text" th:field="*{authorName}" />

        <br>

        <label>Nazwisko autora</label><input type="text" th:field="*{authorLastName}" />

        <br>

        <label>Kategoria</label><input type="text" th:field="*{category}" />

        <br>

        <label>Minimalny rok wydania</label><input type="text" th:field="*{minReleaseYear}" />

        <br>

        <label>Maksymalny rok wydania</label><input type="text" th:field="*{maxReleaseYear}" />

        <br>

        <label>Cena minimalna</label><input type="text" th:field="*{minPrice}" />

        <br>

        <label>Cena maksymalna</label><input type="text" th:field="*{maxPrice}" />

        <br>

        <label>Minimalna liczba stron</label><input type="text" th:field="*{minPages}" />

        <br>

        <label>Maksymalna liczba stron</label><input type="text" th:field="*{maxPages}" />

        <br>

        <label>Dostępność:
          <select th:field="*{status}">
            <option value="">Wybierz</option>
            <option th:value="AVAILABLE">Dostępne</option>
            <option th:value="LAST_ITEMS">Ostatnie sztuki</option>
            <option th:value="UNAVAILABLE">Niedostępne</option>
          </select>
        </label>

        <br><br>

        <input type="submit" value="Wyszukaj" />
      </div>
    </form>
  </main>

  <footer>
    <section>
      <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
      <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
  </footer>
</body>
</html>