<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" th:href="@{/css/header.css}" />
      <link rel="stylesheet" th:href="@{/css/body.css}" />
      <link rel="stylesheet" th:href="@{/css/books/main-add-book.css}" />
      <link rel="stylesheet" th:href="@{/css/footer.css}" />
      <title>Zapisz książkę</title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          <span>Bibliotheca</span>
          <span>Chudyana</span>
        </h1>
      </a>

      <a href="/books">
        <h1>
          <span>Wszystkie</span> 
          <span>książki</span>  
        </h1>
      </a>

      <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
      </div>
    </header>

    <main>
      <form th:action="@{/save-book}" th:object="${book}" method="POST" >
        <div>
          <input type="hidden" th:field="*{id}" />
          <label>Tytuł</label><input type="text" th:field="*{title}" />
          <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>

          <br>

          <label>Imię autora</label><input type="text" th:field="*{authorName}" />
          <span th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}" class="error"></span>

          <br>

          <label>Nazwisko autora</label><input type="text" th:field="*{authorLastName}" />
          <span th:if="${#fields.hasErrors('authorLastName')}" th:errors="*{authorLastName}" class="error"></span>

          <br>

          <label>Data publikacji</label><input type="text" th:field="*{releaseDate}" placeholder="YYYY-MM-DD" />
          <span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="error"></span>

          <br>

          <label>Kategoria</label><input type="text" th:field="*{category}" />
          <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error"></span>

          <br>

          <label>Liczba stron</label><input type="text" th:field="*{numberOfPages}" />
          <span th:if="${#fields.hasErrors('numberOfPages')}" th:errors="*{numberOfPages}" class="error"></span>

          <br>

          <label>Cena</label><input type="text" th:field="*{price}" />
          <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></span>

          <br>

          <label>Ilość w magazynie</label><input type="text" th:field="*{quantityInStock}" />
          <span th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}" class="error"></span>

          <br>

          <input type="hidden" th:field="*{addToLibraryDate}" th:value="${book.addToLibraryDate}" />

          <input type="submit" value="Zapisz">
        </div>
      </form>
    </main>

    <footer>
      <section>
          <p>Coded and designed by Wiktor C.</p>
      </section>
      <section>
          <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
      </section>
    </footer>
  </body>
</html>