@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    padding: 20px;
    height: 10vh;
}

header span {
    display: block;
}

header a {
    width: 200px;
    text-decoration: none;
    color: white;
    transition: font-size 200ms ease-out;
}

header a:hover {
    font-size: 0.95em;
}