<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/usersmanagement/main-save-user.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Zapisz użytkownika</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <a href="/users-management">
        <h1>
            <span>Wszyscy</span>
            <span>użytkownicy</span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <form th:action="@{/users-management/save-user}" th:object="${user}" method="POST" >
        <div>
            <p th:if="${error}" th:text="${error}"></p>
            <input type="hidden" th:field="*{id}" />
            <label>Nazwa użytkownika<input type="text" th:field="*{username}" required /></label>

            <br>

            <label th:if="!*{id}">Email<input type="text" th:field="*{email}" required /></label>

            <br>

            <label th:if="!*{id}">Hasło<input type="text" th:field="*{password}" required /></label>

            <br>

            <section class="checkboxes">
                <label>User<input type="checkbox"
                                  name="authoritiesAsString"
                                  th:value="ROLE_USER"
                                  th:checked="${user.id != null and userAuthorities.contains('ROLE_USER')}"
                                  checked
                                  required />
                </label>

                <label>Employee<input type="checkbox"
                                      name="authoritiesAsString"
                                      th:value="ROLE_EMPLOYEE"
                                      th:checked="${user.id != null and userAuthorities.contains('ROLE_EMPLOYEE')}" />
                </label>

                <label>Manager<input type="checkbox"
                                     name="authoritiesAsString"
                                     th:value="ROLE_MANAGER"
                                     th:checked="${user.id != null and userAuthorities.contains('ROLE_MANAGER')}" />
                </label>

                <label>Admin<input type="checkbox"
                                   name="authoritiesAsString"
                                   th:value="ROLE_ADMIN"
                                   th:checked="${user.id != null and userAuthorities.contains('ROLE_ADMIN')}" />
                </label>
            </section>

            <br>

            <label>Dostępność
                <select th:field="*{enabled}">
                    <option th:value="1">Dostępny</option>
                    <option th:value="0">Niedostępny</option>
                </select>
            </label>

            <br><br>

            <a th:href="'/user/' + ${user.username} + '/change-email'">Zmień email</a>
            <a th:href="'/user/' + ${user.username} + '/change-password'">Zmień hasło</a>
            <input type="submit" value="Zapisz">
        </div>
    </form>
</main>

<footer>
    <section>
        <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
</footer>
</body>
</html>