<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/panels/main-panels.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Panel pracownika</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <div>
        <a href="/login">Zaloguj</a>
        <a href="/register">Zarejestruj</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <section>
        <a href="/users-management">Zarządzaj użytkownikami</a>
        <a href="/orders-management">Zarządzaj zamówieniami</a>
        <a href="#">Ogłoszenia</a>
    </section>
</main>

<footer>
    <section>
        <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
</footer>
</body>
</html>