<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/user/main-user-form.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Zmień hasło</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <a th:href="@{'/user/' + ${user.username}}">
        <h1>
            <span th:text="${user.username}"></span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <form th:action="@{/change-password}" th:object="${user}" method="POST" >
        <div>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{username}" />
            <input type="hidden" th:field="*{password}" />
            <input type="hidden" th:field="*{email}" />
            <input type="hidden" th:field="*{enabled}">

            <label sec:authorize="!hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">Aktualne hasło<input type="password" name="currentPassword" required /></label>

            <br sec:authorize="!hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">

            <label>Nowe hasło<input type="password" name="newPassword" required /></label>

            <br>

            <input type="submit" value="Zapisz">
        </div>
    </form>
</main>

<footer>
    <section>
        <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
</footer>
</body>
</html>