<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/user/main-user.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title th:text="${user.username}"></title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          <span>Bibliotheca</span>
          <span>Chudyana</span>
        </h1>
      </a>

      <a th:if="${user}" th:href="@{'/user/' + ${user.username}}">
        <h1>
          <span th:text="${user.username}"></span>
        </h1>
      </a>

      <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
          <input type="submit" value="Wyloguj">
        </form>
      </div>
    </header>

    <main>
      <h1 th:if="${user == null}">Nie ma takiego użytkownika!</h1>

      <section class="roles" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')" th:if="${authorities != null}">
        <p>Role:</p>
        <ul th:each="authority : ${authorities}">
          <li th:text="${authority.authority}"></li>
        </ul>
      </section>

      <section class="panels" sec:authorize="hasAnyRole('EMPLOYEE', 'MANAGER', 'ADMIN')">
        <a href="/admin" sec:authorize="hasRole('ADMIN')">Panel administratora</a>
        <a href="/manager" sec:authorize="hasRole('MANAGER')">Panel managera</a>
        <a href="/employee" sec:authorize="hasRole('EMPLOYEE')">Panel pracownika</a>
      </section>

      <section class="wishlist-cart">
        <a th:href="'/user/' + ${user.username} + '/wishlist'">Lista życzeń</a>
        <a th:href="'/user/' + ${user.username} + '/cart'">Koszyk</a>
      </section>

      <section class="orders" th:if="${orders != null}">
        <table>
          <thead>
          <tr>
            <th colspan="5">Zamówienia</th>
          </tr>
            <tr>
              <th>Data zamówienia</th>
              <th>Wartość</th>
              <th>Adres dostawy</th>
              <th>Status</th>
              <th>Książki</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="order : ${orders}">
              <td th:text="${order.orderDate}"></td>
              <td th:text="${order.totalAmount}"></td>
              <td th:text="${order.shippingAddress}"></td>
              <td th:text="${order.status}"></td>
              <td>
                <ul th:each="items : ${order.items}">
                  <li th:text="${items.book.title}"></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <footer>
      <section>
        <p>Coded and designed by Wiktor C.</p>
      </section>
      <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
      </section>
    </footer>
  </body>
</html>