<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/user/main-user.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title th:text="${user.username}"></title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          <span>Bibliotheca</span>
          <span>Chudyana</span>
        </h1>
      </a>

      <div>
        <a href="/login">Zaloguj</a>
        <a href="/register">Zarejestruj</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
          <input type="submit" value="Wyloguj">
        </form>
      </div>
    </header>

    <main>
      <h1 th:if="${user == null}">Nie ma takiego użytkownika!</h1>
      <h1 th:if="${user}" th:text="${user.username}"></h1>

      <div th:if="${authorities != null}">
        <p>Role:</p>
        <ul th:each="authority : ${authorities}">
          <li th:text="${authority.authority}"></li>
        </ul>
        <a th:href="'/user/' + ${user.username} + '/wishlist'">Lista życzeń</a>
        <a th:href="'/user/' + ${user.username} + '/cart'">Koszyk</a>
      </div>
    </main>

    <footer>
      <section>
        <p>Coded and designed by Wiktor C.</p>
      </section>
      <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
      </section>
    </footer>
  </body>
</html>