<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/header.css}" />
        <link rel="stylesheet" th:href="@{/css/body.css}" />
        <link rel="stylesheet" th:href="@{/css/main-index.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
        <title>Bibliotheca Chudyana</title>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>
                    <span>Bibliotheca</span>
                    <span>Chudyana</span>
                </h1>
            </a>

            <div>
                <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
                <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
                <a sec:authorize="isAuthenticated()"
                   th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
                <a sec:authorize="isAuthenticated()"
                   th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                        <span sec:authentication="principal.username"></span>
                    </a>
                </span>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Wyloguj">
                </form>
            </div>
        </header>

        <main>
            <a href="/books" id="check-all-books">
                <section>
                    <p>Sprawdź wszystkie nasze książki!</p>
                </section>
            </a>

            <a href="/top-categories" id="top-categories">
                <section>
                    <p>TOP Kategorie</p>
                </section>
            </a>

            <a href="/discounts" id="discounts">
                <section>
                    <p>Promocje</p>
                </section>
            </a>

            <a href="/new-releases" id="new-releases">
                <section>
                    <p>Nowości</p>
                </section>
            </a>
        </main>

        <footer>
            <section>
                <p>Coded and designed by Wiktor C.</p>
            </section>
            <section>
                <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
            </section>
        </footer>
    </body>
</html>