<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{header.css}" />
        <link rel="stylesheet" th:href="@{body.css}" />
        <link rel="stylesheet" th:href="@{/topcategories/main-top-categories.css}" />
        <link rel="stylesheet" th:href="@{footer.css}" />
        <title>TOP Kategorie</title>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>
                    <span>Bibliotheca</span>
                    <span>Chudyana</span>
                </h1>
            </a>

            <a href="/top-categories">
                <h1>
                    <span>TOP</span>
                    <span>Kategorie</span>
                </h1>
            </a>

            <div>
                <a href="/login">Zaloguj</a>
                <a href="/register">Zarejestruj</a>
                <span sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Wyloguj">
                </form>
            </div>
        </header>

        <main>
            <section id="actions">
                <a href="/">Strona główna</a>
            </section>

            <section id="show-categories">
                <table>
                    <thead>
                        <th>Pozycja</th>
                        <th>Kategoria</th>
                        <th>Ilość książek</th>
                        <th>Akcje</th>
                    </thead>

                    <tbody>
                        <tr th:each="category, iterStat : ${topCategories}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${category.key}"></td>
                            <td th:text="${category.value}"></td>
                            <td>
                                <a class="button-check"
                                   th:href="@{/books(searchBy='category', keyword=${category.key})}"
                                >
                                    Sprawdź
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <footer>
            <section>
                <p>Coded and designed by Wiktor C.</p>
            </section>
            <section>
                <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
            </section>
        </footer>
    </body>
</html>