<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/discounts/main-save-discount.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Zapisz promocję</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <a href="/discounts">
        <h1>
            <span>Wszystkie</span>
            <span>promocje</span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <form th:action="@{/save-discount}" th:object="${discount}" method="POST" >
        <div>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:if="${discount.book != null and discount.book.id != null}" name="bookId" th:value="${discount.book.id}" />
            <label th:if="${discount.book == null or discount.book.id == null}">Książka:
                <select name="bookId">
                    <option th:if="${bookId != null or book.discount == null}"
                            th:each="book : ${books}"
                            th:text="${book.title}"
                            th:value="${book.id}">
                    </option>
                </select>
            </label>

            <br>

            <label>Zniżka</label><input type="text" th:field="*{discountPercentage}">
            <span th:if="${#fields.hasErrors('discountPercentage')}" th:errors="*{discountPercentage}" class="error"></span>

            <br>

            <label>Start</label><input type="date" th:field="*{startDate}">
            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></span>

            <br>

            <label>Koniec</label><input type="date" th:field="*{endDate}">
            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></span>

            <br>

            <input type="submit" value="Zapisz">
        </div>
    </form>
</main>

<footer>
    <section>
        <p>Coded and designed by Wiktor C.</p>
    </section>
    <section>
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
    </section>
</footer>
</body>
</html>