<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/ordersmanagement/main-orders-management.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <script src="/js/confirm-delete-order.js"></script>
    <title>Zarządzanie zamówieniami</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <section id="actions">
        <a href="/orders-management/find-orders">Znajdź zamówienie</a>
        <br>
        <a href="/">Strona główna</a>
    </section>

    <section id="show-orders">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Telefon</th>
                <th>Użytkownik</th>
                <th>Data zamówienia</th>
                <th>Wartość</th>
                <th>Adres dostawy</th>
                <th>Status</th>
                <th>Książki</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.firstName}"></td>
                <td th:text="${order.lastName}"></td>
                <td th:text="${order.phoneNumber}"></td>
                <td th:text="${order.user.username}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.totalAmount + ' zł'}"></td>
                <td th:text="'ul. ' + ${order.street} + ' ' + ${order.houseNumber} + ', ' + ${order.postalCode} + ' ' + ${order.city}"></td>
                <td th:text="${order.status.descriptionInPolish}"></td>
                <td>
                    <ul th:each="items : ${order.items}">
                        <li th:text="${items.book.title}"></li>
                    </ul>
                </td>
                <td class="show-orders_actions">
                    <a class="button-update" th:href="@{/orders-management/update-order(orderId=${order.id})}">Aktualizuj</a>
                    <a class="button-delete"
                       th:href="@{/orders-management/delete-order(orderId=${order.id})}"
                       onclick="return confirmDeleteOrder()">
                        Usuń
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <section class="author-rights">
        <p>® 2024 Wiktor Chudy. All Rights Reserved.</p>
    </section>
    <section class="social">
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
        <a href="https://wiktorchudy.me/" target="_blank">Blog</a>
        <a href="https://github.com/P4ZD4N" target="_blank">GitHub</a>
    </section>
</footer>
</body>
</html>