<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/ordersmanagement/main-save-order.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>Zapisz zamówienie</title>
</head>
<body>
<header>
    <a href="/">
        <h1>
            <span>Bibliotheca</span>
            <span>Chudyana</span>
        </h1>
    </a>

    <a href="/orders-management">
        <h1>
            <span>Wszystkie</span>
            <span>zamówienia</span>
        </h1>
    </a>

    <div>
        <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
        <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/wishlist'}">Lista życzeń</a>
        <a sec:authorize="isAuthenticated()"
           th:href="@{'/user/' + ${#authentication.principal.username} + '/cart'} ">Koszyk</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{'/user/' + ${#authentication.principal.username}}">
                <span sec:authentication="principal.username"></span>
            </a>
        </span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
</header>

<main>
    <form th:action="@{/orders-management/save-order}" th:object="${order}" method="POST" >
        <div>
            <input type="hidden" th:field="*{id}" />

            <label>Imię</label><input type="text" th:field="*{firstName}" />

            <br>

            <label>Nazwisko</label><input type="text" th:field="*{lastName}" />

            <br>

            <label>Numer telefonu</label><input type="text" th:field="*{phoneNumber}" />

            <br>

            <label>Numer domu</label><input type="text" th:field="*{houseNumber}" />

            <br>

            <label>Ulica</label><input type="text" th:field="*{street}" />

            <br>

            <label>Miasto</label><input type="text" th:field="*{city}" />

            <br>

            <label>Kod pocztowy</label><input type="text" pattern="[0-9]{2}-[0-9]{3}" th:field="*{postalCode}" />

            <br>

            <label>Status:
                <select th:field="*{status}">
                    <option value="">Wybierz</option>
                    <option th:value="IN_PROGRESS">W realizacji</option>
                    <option th:value="SENT">Wysłane</option>
                    <option th:value="RECEIVED">Odebrane</option>
                </select>
            </label>

            <br><br>

            <input type="submit" value="Zapisz">
        </div>
    </form>
</main>

<footer>
    <section class="author-rights">
        <p>® 2024 Wiktor Chudy. All Rights Reserved.</p>
    </section>
    <section class="social">
        <a href="https://linkedin.com/in/wiktor-chudy/" target="_blank">LinkedIn</a>
        <a href="https://wiktorchudy.me/" target="_blank">Blog</a>
        <a href="https://github.com/P4ZD4N" target="_blank">GitHub</a>
    </section>
</footer>
</body>
</html>